<div class="jumbotron upload-page">
	<div class="container">
	<%= form_for @subtitle, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
	<div class="form-group">

		<h1><%= f.label "Upload Your File"%></h1>
		<p class="forms">
			<%= f.label :title%>
			<br>
			<%= f.text_field :title%>	
		</p>

		<p>
			<%= f.label :description%>
			<br>
			<%= f.text_field :description%>
		</p>
		<p>
			<%= f.file_field :file %>
		</p>
	</div>
	<div class="actions">
	  <%= f.submit %>
	</div>
	<% end %>
	</div>
</div>