<!DOCTYPE html>
<html>
<head>
	<title>FinalProject</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default" id="navbar">
		<div class="container-fluid">
			<ul class="nav navbar-nav" id="li">
				<li>
					<%= link_to 'Sub.', subtitles_path, class: 'page-logo' %>
				</li>
			</ul>

			<ul class="nav navbar-nav">
				<li><%= link_to 'Submit', new_subtitle_path %></li>
				<li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
				<li><%= link_to 'Login', new_user_session_path %></li>
				<li><%= link_to 'Signup', new_user_registration_path %></li>
			</ul>

			<div class="navbar-form navbar-right">
			<%= form_tag(search_path, :method => "get", id: "search-form", class: "navbar-form navbar-left", role: "search") do %>
				<%= text_field_tag :search, params[:search], class:"form-control col-sm-12"%>
				<%= submit_tag "Search", :name => nil, :class => "search-button btn btn-default" %>
			<% end %>
			</div>
		</div>
	</nav>

	<div class="container">
		User: <%= current_user.try(:id) || 0 %>
		<%= yield %>
	</div>
</body>
</html>
